<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- relative url -->
        <a class="nav-link" routerLink="/createSurvey">Create Survey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addAdmin">Add Admin</a>
      </li>
      <!-- <li class="nav-item">
      <a class="nav-link">Survey Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Survey Analysis</a>
    </li> -->
  </ul>
</div>
</nav>
@if (getEnabledComponent()==='create-survey') {
  <div class="container card width70">
    <form [formGroup]="newSurveyForm" class="form-horizontal">
      <div class="form-group">
        <label for="surveyName">
          Survey Name:<span style="color: red;">*</span>
        </label>
        <input type="text" formControlName="surveyName" id="surveyName" class="form-control">
        @if (newSurveyForm.controls.surveyName.invalid && (newSurveyForm.controls.surveyName.touched || newSurveyForm.controls.surveyName.dirty)) {
          <div
            class="alert alert-danger">
            This is a required field
          </div>
        }
      </div>
      <div class="form-group">
        <label for="validTill">
          Valid Till:<span style="color: red;">*</span>
        </label>
        <input type="date" formControlName="validTill" [attr.min]="minDate" id="validTill" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">
          Description:<span style="color: red;">*</span>
        </label>
        <textarea formControlName="description" rows="4" id="description" class="form-control"></textarea>
        @if (newSurveyForm.controls.description.invalid && (newSurveyForm.controls.description.touched || newSurveyForm.controls.description.dirty)) {
          <div
            class="alert alert-danger">
            This is a required field
          </div>
        }
      </div>
    </form>
    <!-- show added questions -->
    <div class="card form-group">
      <h4 class="text-center">Added Questions</h4>
      @if (surveyQuestionFormArray.length !== 0) {
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Question Type</th>
              </tr>
            </thead>
            <tbody>
              @for (quesControl of surveyQuestionFormArray.controls; track quesControl; let i = $index) {
                <tr>
                  <th scope="row">{{ i+1 }}</th>
                  <td> {{ quesControl.value.question }}</td>
                  <td> {{ qTypeMap.get(quesControl.value.questionType) }} </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      } @else {
        <p class="text-center">
          No questions to show. Please add a question.
        </p>
      }
    </div>
    <div>
      <div class="row">
        <button type="button" (click)="addQuestion()" [disabled]="surveyQuestionFormArray.controls.length >= 5"
          class="btn btn-success offset-sm-1 col-sm-4">Add New
        Question</button>
        <button type="button" (click)="submitSurvey()"
          [disabled]="newSurveyForm.invalid || surveyQuestionFormArray.controls.length === 0"
          class="btn btn-success offset-sm-2 col-sm-4">Create
        Survey</button>
      </div>
      <p></p>
      <!-- only used while developing form, to show formgroup in console -->
      <!-- <div>
      <button (click)="showForm()">show form</button>
    </div> -->
  </div>
</div>
}
@if (getEnabledComponent()==='add-question') {
  <app-add-question [surveyQuestionFormArray]="surveyQuestionFormArray" [qType]="qTypeMap" [valType]="validationMap">
  </app-add-question>
}
@if (getEnabledComponent()==='survey-created') {
  <div class="container card width70">
    <p>
      Successfully created survey with id: {{ submittedSurveyDetails?.id }}
    </p>
    <div class="form-group form-row">
      <input type="text" class="form-control col-sm-8" [value]="surveyLink" id="copyText" #textToCopy disabled>
      <button (click)="copyToClipboard()" class=".offset-sm-1 col-sm-2">Copy Link</button>
    </div>
  </div>
}