<ng-container *ngIf="!isLoggedIn()">{{ redirect() }}</ng-container>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- relative url -->
                <a class="nav-link" routerLink="/createSurvey">Create Survey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addAdmin">Add Admin</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link">Survey Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Survey Analysis</a>
            </li> -->
        </ul>
    </div>
</nav>
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Survey Details">
    <ng-template ngbPanelContent>
      <table class="table" id="details">
        <tbody>
          <tr>
            <th scope="row">Survey Name</th>
            <td>{{ surveyDetails?.name }}</td>
          </tr>
          <tr>
            <th scope="row">Survey Description</th>
            <td>{{ surveyDetails?.description }}</td>
          </tr>
          <tr>
            <th scope="row">Number of Questions</th>
            <td>{{ surveyDetails?.questions.length }}</td>
          </tr>
          <tr>
            <th scope="row">Number of responses</th>
            <td>{{ respondents?.length }}</td>
          </tr>
          <tr>
            <th scope="row">Created On</th>
            <td>{{ surveyDetails?.created | date }}</td>
          </tr>
          <tr>
            <th scope="row">Valid Till</th>
            <td>{{ surveyDetails?.validTill | date }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2" title="Survey Responses">
    <ng-template ngbPanelContent>
      <div>
        <h6>Filter by Date</h6>
        <div class="form-group">
          <label for="startDate">
            Start Date
          </label>
          <input type="date" id="startDate" class="form-control" [ngModel]="filterStart"
            (ngModelChange)="filterStart = $event">
        </div>
        <div class="form-group">
          <label for="endDate">
            End Date
          </label>
          <input type="date" id="endDate" class="form-control" [ngModel]="filterEnd"
            (ngModelChange)="filterEnd = $event">
          <div class="form-group">
            <button (click)="filterByDate()" class="btn btn-info">Filter</button>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Submission Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let respondent of respondents;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{respondent.fullName}}</td>
            <td>{{respondent.takenOn | date }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Export Options">
    <ng-template ngbPanelContent>
      <h5>Survey Details</h5>
      <div class="row">
        <button class="btn btn-info col-sm-2" (click)="downloadCsv('details')">csv</button>
        <button class="btn btn-info col-sm-2 offset-sm-1" (click)="downloadXlsx('details')">excel</button>
        <button class="btn btn-info col-sm-2 offset-sm-1" (click)="downloadJson('details')">json</button>
        <!-- <button class="btn btn-info col-sm-2 offset-sm-1">pdf</button> -->
      </div>
      <br>
      <h5>Survey Responses</h5>
      <div class="row">
        <button class="btn btn-info col-sm-2" (click)="downloadCsv('respondents')">csv</button>
        <button class="btn btn-info col-sm-2 offset-sm-1" (click)="downloadXlsx('respondents')">excel</button>
        <button class="btn btn-info col-sm-2 offset-sm-1" (click)="downloadJson('respondents')">json</button>
        <!-- <button class="btn btn-info col-sm-2 offset-sm-1">pdf</button> -->
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>