<h1>Survey: {{ survey?.name }}</h1>

<h3>Enter your details:</h3>

<ng-container *ngIf="inputPersonalDetails">
    <form [formGroup]="details" (ngSubmit)="onSubmit()">
        <label for="">
            Full Name:
            <input type="text" formControlName="fullName">
        </label>

        <label for="">
            Email:
            <input type="text" formControlName="email">
        </label>
        <div>
            <button type="submit" [disabled]="!this.details.valid">Next</button>
            <div *ngIf="message?.length > 0" style="font-size: 80%;color: #dc3545;">
                {{ message }}
            </div>
        </div>
    </form>
</ng-container>

<div *ngIf="!inputPersonalDetails">
    <app-take-survey-questions [survey]="survey" [details]="details" [questions]="questions"></app-take-survey-questions>
</div>