<div *ngIf="!adminAdded; else addSuccess" class="container width70 card">
    <div>
        <h3 class="text-center">
            Add New Admin
        </h3>
    </div>
    <form #f="ngForm" (ngSubmit)="addAdmin(f)" class="form-horizontal">
        <div class="form-group">
            <label for="firstName">
                First Name:
            </label>
            <input type="text" [(ngModel)]="newAdmin.firstName" name="firstName" id="firstName" required
                autocomplete="given-name" class="form-control">
        </div>
        <div class="form-group">
            <label for="lastName">
                Last Name:
            </label>
            <input type="text" [(ngModel)]="newAdmin.lastName" name="lastName" id="lastName" required
                autocomplete="family-name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">
                Email:
            </label>
            <input type="email" [(ngModel)]="newAdmin.email" name="email" id="email" required autocomplete="username"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="password">
                Password:
            </label>
            <input type="password" [(ngModel)]="newAdmin.password" name="password" id="password" required
                autocomplete="new-password" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!f.valid" class="btn btn-block btn-success">Add</button>
        </div>
    </form>
</div>
<ng-template #addSuccess>
    <div class="container text-center">
        Admin Added Successfully
    </div>
    <div class="container text-center">
        <a routerLink="/admin" class="link">Admin Home</a>
    </div>
</ng-template>